# Виртуальное окружение
venv/
.venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# База данных (файл самой базы)
instance/
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/
*.code-workspace

# IDE
.idea/
*.swp
*.swo

# Файлы окружения
.env
.env.local

# Логи
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# Временные файлы
*.tmp
*.bak
*.orig