{% extends "base.html" %} {% block content %}
<h2>Новая заметка</h2>

<form method="POST">
	<input type="text" name="title" placeholder="Заголовок" required />
	<textarea
		name="content"
		placeholder="Текст заметки"
		rows="6"
		required
	></textarea>

	<select name="category">
		<option value="Работа">Работа</option>
		<option value="Личное">Личное</option>
		<option value="Учёба">Учёба</option>
		<option value="Идеи">Идеи</option>
		<option value="Другое">Другое</option>
	</select>

	<button type="submit">Сохранить</button>
	<a href="/" class="cancel">Отмена</a>
</form>
{% endblock %}
